:root {
    --charbon: #111113;
    --rose: #F45695;
    --rose-fonce: #E63E81;
    --menthe: #DBF9F4;
}

* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--menthe);
}


main {
    flex: 1;
    padding-top: 60px;
}


nav{
    width:100%;
    height: 60px;
    background-color: var(--charbon);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom-style: groove;
}

.logo{
    height:45px;
    width:45px;
    position: fixed;
    top: 7px;
    left: 15px;
    z-index: 1000;
    background-color: var(--charbon);
}

.lienNav {
    text-align:center;
    padding: 10px;
    margin : 10px;
    margin-right:20px;
    background-color: var(--charbon);
    display:block;
    float:right;
    text-decoration:none;
    color: var(--menthe);
    font-size: 15px;
}

a:hover{
    color: var(--rose);
    text-decoration: underline;
}

.lienNav.actif{
    color: var(--rose);
    text-decoration: none;
}

.lienNav.actif:hover{
    color: var(--rose);
    text-decoration: underline;
}


.hero-image{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    display: block;

}

.title{
    position:relative;
    top:-300px;
    background-color: rgba(17, 17, 19, 0.76);
    color: var(--menthe);
    width:19.5%;
    margin-left:40px;
    padding:7px;
    border-left: 5px solid var(--rose);
}

.info{
    position:relative;
    display:flex;
    justify-content:right;
    top:0px;
}

.lienTexte{
    margin:0;
    padding:0;
    background-color: var(--charbon);
    color: var(--rose);
    
}

.texte{
    position:relative;
    top: -130px;
    left: 0;
    width: 30%;
    margin:10px;
    color: var(--menthe);
    background-color: var(--charbon);
    padding:20px;
    border-radius: 8px;
    border-top: 3px solid var(--rose-fonce);
}

footer{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--charbon);
}

footer > p{
    width: auto;
    margin: 10px;
    padding: 20px;
    color: var(--menthe);
    background-color: var(--charbon);
    display:flex;
    justify-content:center;
}

.finfo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--charbon);

}

.finfo p {
    width: auto;
    color: var(--menthe);
    background-color: var(--charbon);
}

.flien {
    position: static;
    width: 32px;
    height: 32px;

}


