* {
    margin: 0;
    background-color:antiquewhite;
}


nav{
    width:100%;
    height: 60px;
    background-color : rgb(69, 69, 66);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    height:45px;
    width:45px;
    position: fixed;
    top: 7px;
    left: 7px;
    z-index: 1000;
}

a {
    text-align:center;
    padding: 10px;
    margin : 10px;
    margin-right:20px;
    background-color:rgb(69,69,66);
    display:block;
    float:right;
    text-decoration:none;
    color:rgb(251, 251, 251);
    font-size:15px
}

a:hover{
    color:rgb(158, 158, 151);
    text-decoration:underline;
}
